html, body {
	height: 100%;
	overflow: hidden;
	margin: 0;
}

#app {
	height: inherit;
}

.wrapper {
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
}

.status {
	display: flex;
}

.status_caption {
	margin-right: 10px;
}